<h3>Activities page</h3>

<div class="page">
   
    <div class="head-low">
        <p>Total Cost</p>
        <p class="price">$<%= @activities.sum(:amount) %></p>
    </div>
  
    <div class="create-group">
        <%= link_to 'Add Gift', new_activity_path, class: 'button'  %>
    </div>
</div>